{{#projects}}
<link rel="stylesheet" href="{{getStylesHelper}}" />
<div class="eachDiv">
    <a href="{{url}}" target="_blank"><img src="/{{url}}/screenshot.png" /></a>
    <a href="{{url}}">{{name}}</a>
</div>
{{/projects}}

