{{#projects}}
<nav class="links">
    <li><a href="{{url}} {{getActiveClass url}} ">{{name}}</a></li>
</nav>
{{/projects}}





{{#selectedProject}}
<p class="details">Project details:  <b><em>{{ name }}</em></b></p> {{!-- show title --}}
<div class="right-side">
    <img src="/{{url}}/screenshot.png" /> {{!-- show image --}}
    <p>{{description}}</p> {{!-- show description --}}
    <a href="/{{url}}" >Launch</a>{{!-- show link --}}
</div>
{{/selectedProject}}