{{#projects}}
{{!-- <h2>{{emojis.[0]}}{{name}}{{emojis.[1]}}</h2> --}}
<div class="eachDiv">
    <a href="{{url}}"><img src="/{{url}}/screenshot.png" /></a>
    <a href="{{url}}">{{name}}</a>
</div>
{{/projects}}

